
  <footer class="border">
    <div class="d-flex my-3 gap justify-content-around">
        <div class="col-2 border border-2" style="height: 20vh;"></div>
        <div class="col-2 border border-2" style="height: 20vh;"></div>
        <div class="col-2 border border-2" style="height: 20vh;"></div>
        <div class="col-2 border border-2" style="height: 20vh;"></div>
    </div>
    <!--nav inferior  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Trabajá con nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Promociones y descuentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacta con nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Defensa al consumidor</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="redesSociales d-flex justify-content-center  ">
        <div class="d-flex justify-content-around w-100 mb-3">
          <div class="pt-2 d-flex align-items-center">
            <a href="/404.html" target="_blank">
              <img class="redesfooter" src="/assets/imagenes/iconos/fb.png.webp" alt="logo Facebook"/>
            </a>
            <div class="d-none d-md-block">
              <a class="redes " target="_blank" href="/404.html">Facebook</a>
            </div>
          </div>
          <div class="pt-2 d-flex align-items-center">
            <a href="/404.html" target="_blank">
              <img class="redesfooter" src="/assets/imagenes/iconos/insta.png" alt="Logo Instagram"/>
            </a>
            <div  class="d-none d-md-block">
              <a class="redes" target="_blank" href="/404.html">Instagram</a>
            </div>
          </div>
          <div class="pt-2 d-flex align-items-center">
            <a href="/404.html" target="_blank">
              <img class="redesfooter" src="/assets/imagenes/iconos/twitter.png" alt="Logo Twitter"/>
            </a>
            <div class="d-none d-md-block">
              <a class="redes" target="_blank" href="/404.html">Twitter</a>
            </div>
          </div>
          <div class="pt-2 d-flex align-items-center">
            <a href="/404.html" target="_blank">
              <img class="redesfooter" src="/assets/imagenes/iconos/linkedin.png" alt="Logo LinkedIn"/>
            </a>
            <div class="d-none d-md-block">
              <a class="redes" target="_blank" href="/404.html">LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div>
          <p class="m-0 text-center">©Copyright - La Tiendita 2023</p>
      </div>
</footer>
</body>