* {
    padding:0;
    margin:0;
}
.navbar {
    font-family: 'Josefin Sans', sans-serif;
<<<<<<< HEAD:styles/styles.css
}
.badge {
    background-color: #abd2ff;
}
.redesfooter {
    width: 2vw;
=======
>>>>>>> 1376c99488ea95969953e6a9b4558f990e6e7cb5:styles/index.css
}